/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
/* fine reset */

/* Header */
header {
  width: 100%;
  background-color: red;
  height: 100px;
}
/* fine Header */

/* Main */
main {
  margin: 10px 0;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
  height: 600px;
}

.left {
  background-color: pink;
}

.center {
  background-color: purple;
  width: 56%;
  margin: 0 2%;
}


.right div {
  background-color: pink;
  width: 100%;
  height: 290px;
  list-style-type: none;
}

.right :first-child {
  margin-bottom: 20px;
}
/* fine main */

/* Footer */
footer {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  height: 100px;
  background-color: yellow;
}
/* fine footer */
